/inbox
/taas.egg-info
/venv
/static
/dist
/.cache
/taas/server/settings.py
*.pyc
db.sqlite3

/.idea
/.project
/.pydevproject
/.settings
/.sublime

# Editor artifacts
# vim
*.sw*

# documentation
docs/_build/
build/
