@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: url(Montserrat-Regular.woff2) format("woff2");
}

html {
    background-image: url("../img/murutaust.jpg");
    width: auto;
    font-family: Montserrat, sans-serif;
}

body {
    min-height: 100%;
    position: relative;
    width: 72%;
    background: #ffffff;
    margin: 15px auto -80px auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 1px 30px black;
}

#innerwrap {
    position: relative;
    width: 97%;
    margin: 0 auto;
}

header {
    z-index: 10000;
    background: #ffffff;
    width: 97%;
    min-width: 300px;
    height: 105px;
}

.logo img {
    float: left;
    padding-top: 11px;
    height: 82px;
}

.navsmall img {
    float: right;
    display: block;
    height: 30px;
    top: 0;
}

.navsmall:hover {
    opacity: 0.6;
}

p {
    text-align: justify;
    margin: 10px;
}

.user-nav {
    float: right;
    width: 97%;
    margin: auto 30px 35px;
    border-bottom: 1px dotted #dddddd;
}

.user-nav li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    color: rgba(255, 153, 0, 0.9);
}

.user-nav ul {
    float: right;
    padding: 0;
    margin: 15px auto;
    list-style-type: none;
}

a {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
}

a:hover {
    color: #999999;
}

.success:before {
    background: url('../img/check.png') no-repeat 0 -5px;
    padding: 0 14px;
    content: "";
}

.success {
    background-color: #DFF2BF;
    color: #3c8a1e;
    border-radius: 8px;
    width: 40%;
    padding: 10px;
    margin: 25px auto 0 auto;
    text-align: center;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.error {
    background-color: #FFD4CB;
    color: rgba(216, 0, 12, 0.6);
    border-radius: 8px;
    width: 40%;
    padding: 10px;
    margin: 65px auto 0 auto;
    text-align: center;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

#timerMessage {
    visibility: hidden;
}

#budget {
    color: rgba(255, 153, 0, 0.9);
}

#budget:hover {
    color: rgba(255, 111, 0, 0.9);
}

.tabrow {
    text-align: center;
    list-style: none;
    margin: 100px 0 20px;
    padding: 0;
    line-height: 24px;
    overflow: hidden;
    font-size: 13px;
    position: relative;
}

.tabrow li {
    border: 1px solid #e0e0e0;
    border-left: none;
    background: #f7f7f7;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 -5px;
    padding: 3px 20px;
    cursor: pointer;
    color: #85b2d4;
    text-transform: uppercase;
}

.tabrow li span:before {
    content: " ";
    position: absolute;
    left: -3px;
    top: 3px;
    bottom: 2px;
    width: 10px;
    transform: rotate(14deg);
    border-left: 1px solid #e0e0e0;
    background: #f7f7f7;
}

.tabrow li span:after {
    content: " ";
    position: absolute;
    right: -5px;
    top: 3px;
    bottom: 2px;
    width: 10px;
    transform: rotate(-14deg);
    border-right: 1px solid #e0e0e0;
    background: #f7f7f7;
}

.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
    vertical-align: bottom;
    padding-top: 7px;
    font-weight: bold;
    cursor: default;
}

.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
    border: 1px solid #e0e0e0;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}

.tabrow li:before {
    left: -21px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 10px 0 0 #f7f7f7;
    padding-right: 10px;
}

.tabrow li:after {
    right: -23px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -10px 2px 0 #f7f7f7;
    padding-left: 10px;
}

.tabrow li.selected:before {
    box-shadow: 10px 2px 0 #FFF;
}

.tabrow li.selected:after {
    box-shadow: -10px 2px 0 #FFF;
}

.tabrow li.selected SPAN:before,
.tabrow li.selected SPAN:after {
    background: white;
}

.tabrow li.selected a {
    color: rgba(255, 153, 0, 0.9);
}