@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: url(Montserrat-Regular.woff2) format("woff2");
}

html {
    background-image: url("../img/murutaust.jpg");
    width: auto;
    font-family: Montserrat, sans-serif;
}

body {
    width: 100%;
    margin: auto;
    height: 100%;
}

#wrap {
    position: relative;
    width: 72%;
    margin: 15px auto 0 auto;
    height: auto;
    min-height: 100% !important;
    background: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 1px 30px black;
}

#wrap:after {
    content: "";
    display: table;
    clear: both;
}

header {
    z-index: 10000;
    background: #ffffff;
    width: 95%;
    min-width: 300px;
    margin: 0 auto;
}

header:after {
    content: '';
    display: table;
    clear: both;
}

.nav {
    float: right;
    text-transform: uppercase;
    font-weight: normal;
    vertical-align: bottom;
    /*position: absolute;
    right: 30px;
    top: 54px;*/
}

.logo img {
    float: left;
    padding-top: 11px;
    height: 82px;
}

.logo {
    float: left;
}

.logo:after {
    clear: left;
    display: table;
    content: '';
}

.navsmall img {
    float: right;
    display: block;
    height: 30px;
    top: 0;
    padding-right: 9px;
}

.navsmall:hover {
    opacity: 0.6;
}

.navsmall:after {
    content: '';
    display: table;
    clear: right;
}

.nav ul {
    list-style: none;
    position: relative;
}

.nav ul li {
    float: left;
    margin-left: 12px;
    position: relative;
    display: block;
    font-size: 20px;
}

.nav ul li > a {
    color: #666666;
    padding: 0 8px;
    line-height: 28px;
    text-decoration: none;
    display: block;
}

.nav ul li:hover > a {
    color: #ffcc66;
}

p {
    text-align: justify;
    margin: 10px;
}

.nav:after {
    clear: both;
    display: table;
    content: '';
}

#navwrap {
    float: right;
    vertical-align: bottom;
}

#navwrap:after {
    clear: right;
    display: table;
    content: '';
}

#header-nav {
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

#header-nav:after {
    content: '';
    display: table;
    clear: both;
}

#user-nav {
    margin: auto;
    border-bottom: 1px dotted #dddddd;
    border-top: 1px dotted #dddddd;
}

#user-nav:after {
    content: "";
    display: table;
    clear: both;
}

#user-nav li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    color: rgba(255, 153, 0, 0.9);
}

#user-nav ul {
    float: right;
    padding-right: 9px;
    margin: 15px auto;
}

a {
    color:#666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
}

a:hover {
    color: #999999;
}

.success:before {
    background: url('../img/check.png') no-repeat 0 -5px;
    padding: 0 14px;
    content: "";
}

.success {
    background-color: #DFF2BF;
    color: #3c8a1e;
    border-radius: 8px;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.error {
    background-color: #FFD4CB;
    color: rgba(216, 0, 12, 0.6);
    border-radius: 8px;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.messages {
    margin: 25px auto;
}

#innerwrap {
    margin: 20px auto;
    width: 95%;
    min-width: 300px;
}

#timerMessage {
    display: none;
    margin: 0 auto 20px auto;
    width: 50%;
}

#timerMessage p {
    text-align: center;
}

#budget {
    color: rgba(255, 153, 0, 0.9);
}

#budget:hover {
    color: rgba(255, 111, 0, 0.9);
}