.register-form {
    width: 500px;
    padding: 30px;
    margin: 40px auto 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.register-form input[type="text"], .register-form input[type="password"], .register-form input[type="email"] {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
}

/* "Enter" button */
.register-form input[type="submit"] {
    background: #ffa31a;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    border: 1px solid #ff9900;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.register-form input[type="submit"]:hover {
    background: #ff9900;
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
}

.register-form label, .register-form p {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 5px;
    margin-top: 15px;
}

.register-form .section {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255, 153, 0, 0.9);
    margin-bottom: 5px;
}

.register-form .section span {
    background: rgba(255, 153, 0, 0.9);
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin: -3px auto auto -45px;
    color: #fff;
}

/* Containers with input fields */
.register-form .fieldWrapper {
    padding: 10px 30px 30px 30px;
    background: #f8f8f8;
    border-radius: 6px;
    margin-bottom: 15px;
}

/* Heading */
.register-form h1 {
    background: rgba(255, 163, 26, 0.8);
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    border: 1px solid rgba(255, 153, 0, 0.8);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(255, 140, 0, 0.7);
    letter-spacing: 2px;
}

p.error-message {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(216, 0, 12, 0.6);
    background: url('../img/errorround.png') no-repeat 0 -1px;
    background-size: 20px 20px;
    padding: 2px 0 3px 30px;
}

/* Asterisk for required fields */
label.required:after {
    content: '*';
    font-size: 18px;
}

.field-error label.required:after {
    color: rgba(216, 0, 12, 0.6);
}

.field-error input[type="text"], .field-error input[type="password"], .field-error input[type="email"] {
    border-color: rgba(216, 0, 12, 0.6);
}