.register-form {
    margin: 10px auto auto 300px;
    max-width: 500px;
    padding: 0 15px 25px 10px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}

.register-form label {
    display: block;
    margin: 0;
}

.register-form input[type="text"], .register-form input[type="password"], .register-form input[type="email"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0 1px 4px #ECECEC;
    -moz-box-shadow: inset 0 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0 1px 4px #ECECEC;
}

.register-form #submit-button {
    background: #ff9900;
    border: none;
    padding: 10px 25px 10px 25px;
    margin-left: 25%;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    cursor: pointer;
}

h1 {
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin-left: 30px;
}

.errorlist {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    max-width: 70%;
    margin: 10px 0;
    padding: 8px;
    color: #D8000C;
    background-color: #FFBABA;
    list-style-type: none;
}
