{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
{% endblock styles %}

{% block tab-menu %}
    <ul class="tabrow">
        <li><a href="/"><span>{% trans 'Booking' %}</span></a></li>
        {% if user.is_authenticated %}
            <li class="selected"><a href="/reservation/history"><span>{% trans 'History' %}</span></a></li>
            <li><a href="/user/balance"><span>{% trans 'Balance' %}</span></a></li>
            <li><a href="/user/update"><span>{% trans 'Account' %}</span></a></li>
        {% endif %}
        <li><a href="/reservation/help"><span>{% trans 'FAQ' %}</span></a></li>
    </ul>
{% endblock tab-menu %}

{% block content %}

    {% if validlink %}

        <form method="post" class="reset-form">{% csrf_token %}
            <h2>{% trans 'Reset your password' %}</h2>

            {% for error in form.non_field_errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}

            <p class="help-text">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <div class="fieldWrapper">
                {{ form.new_password1.label_tag }}
                {% render_field form.new_password1|add_error_class:"field-error" %}
                {% for err in form.new_password1.errors %}
                    <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}

                {{ form.new_password2.label_tag }}
                {% render_field form.new_password2|add_error_class:"field-error" %}
                {% for err in form.new_password2.errors %}
                    <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}
            </div>
            <input type="submit" value="{% trans 'Change my password' %}"/>
        </form>

    {% else %}
        <div class="error">
            <p class="error-message">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
        </div>
    {% endif %}

{% endblock %}