{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
{% endblock styles %}

{% block content %}
    <form method="post" class="reset-form">{% csrf_token %}

        <h1>{% trans 'Reset your password' %}</h1>

        <p class="help-text">{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

        <div class="fieldWrapper">
            {{ form.email.label_tag }}
            {% render_field form.email|add_error_class:"field-error" %}
            {% for err in form.email.errors %}
                <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}
        </div>
        <input type="submit" value="{% trans 'Reset my password' %}"/>
    </form>

{% endblock %}