#calendar {
    width: 350px;
    float: right;
}

#datepicker {
    float: left;
}

.wrap {
    width: 700px;
    margin: 20px auto;
}

.wrap::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 80%;
    margin: 0 auto;
}

