#calendar {
    width: 45%;
    min-width: 239px;
    float: right;
}

#datepicker {
    float: left;
    padding-bottom: 15px;
}

.calendarwrap {
    width: 75%;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.calendarwrap::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background: #ffa31a;
    padding: 8px 20px 8px 20px;
    float: right;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    border: 1px solid #ff9900;
    cursor: pointer;
    display: inline-block;
}

.buttonwrap {
    width: 700px;
    margin: 0 auto;
}

.buttonwrap:after {
    content: '';
    display: table;
    clear: both;
}

.button:visited {
    color: #fff;
}

.button:hover {
    background: #ff9900;
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
}

#accordion {
    width: 75%;
    margin: 10px auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

input.banks {
    padding: 5px;
}

#bookings {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#bookings td, #bookings th {
    border-bottom: 1px solid #c8c8c8;
    padding: 10px;
}

.form label {
    display: inline;
}