.foo {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

#inner {
    width: 35%;
    margin: 0 auto;
}

#field {
   display: block;
    width: 100% !important;
    height: auto !important;
}