#bookings {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

#bookings th {
    padding: 10px;
    text-transform: uppercase;
}

#bookings td, #bookings td:last-child {
    border-top: 1px solid #c8c8c8;
    padding: 10px;
    vertical-align:top;
    word-break: break-word;
}

#bookings tr:last-child {
    border-bottom: 1px solid #c8c8c8;
}

.table_wrap {
    width: 75%;
    margin: 0 auto;
}

#bookings td.update img, #bookings td.delete img {
    cursor: pointer;
}

#bookings td.update img:hover, #bookings td.delete img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.sort_form {
    margin: 0 auto;
    padding: 10px;
}

.sort_form select{
    padding: 2px;
    margin: 10px;
}

#reservation_update_header {
    text-align: center;
    color: #666666;
}

#update_submit {
    background: #ffa31a;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    border: 1px solid #ff9900;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

#update_submit:hover {
    background: #ff9900;
    -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
}

.wrap {
    margin-bottom: 15px;
    padding-top: 15px;
}

ul.pagination {
    text-align: center;
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
}

li.previous, li.next, li.current {
    display: inline;
}

li.previous {
    float: left;
}

li.next {
    float: right;
}

li.previous:after {
    content: '';
    display: table;
    clear: left;
}

li.next:after {
    content: '';
    display: table;
    clear: right;
}

.fc-header-title h2 {
    font-size: 16px;
    color: #666666;
}


@media screen and (max-width: 800px) {
    ul.pagination {
        padding: 0;
    }

    li.next a {
        content: url("../img/right_arrow.svg");
        width: 20px;
        height: auto;
    }
    
    li.previous a {
        content: url("../img/left_arrow.svg");
        width: 20px;
        height: auto;
    }

}