"""
Add user specific settings here
Copy it to the settings.py
"""

from .base_settings import *
from .email_settings import *
from datetime import timedelta


DEBUG = True
TEMPLATE_DEBUG = True

SECRET_KEY = '...'

EMAIL_HOST = 'smtp.gmail.com'

EMAIL_HOST_USER = 'example@gmail.com'

EMAIL_HOST_PASSWORD = 'blablabla'

ADMIN_EMAILS = ['example@gmail.com']

CELERYBEAT_SCHEDULE = {
    'remove-expired-reservations': {
        'task': 'taas.reservation.tasks.remove_expired_reservations',
        'schedule': timedelta(minutes=5),
    },
}

if DEBUG:
    EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
    EMAIL_FILE_PATH = os.path.join(PROJECT_ROOT, 'inbox')
