{% load i18n %}
{% csrf_token %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans 'Tartu Agility Playground' %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">

    {% block styles %}{% endblock styles %}

    <script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/countdown/jquery.countdown.js' %}"></script>

    {% block scripts %}{% endblock scripts %}

    {% ifequal request.path "/" %}
        <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
        {% else %}
        <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
    {% endifequal %}
    <script>
        expireMessage = "{% trans 'Your reservation time has been expired.' %}";
        var fieldA = '<p><b>{% trans 'A-PLATS (HÜPPERADA):' %}</b> <br>{% trans 'tõkked (10)' %}<br>{% trans 'tunnelid (4) = 2x6m, 5m, 3m' %}<br>{% trans 'müür (1)' %}<br>{% trans 'rõngas (1)' %}<br>{% trans 'kaugus (1)' %}<br>{% trans 'kott (1)' %}<br>{% trans  'slaalom (1)' %}<br>{% trans 'KOKKU: 19 takistust' %}</p>';
        var fieldB = '<p><b>{% trans 'B-PLATS (AGILITYRADA):' %}</b><br>{% trans 'tõkked (10)' %}<br>{% trans 'tunnelid (4) =2x6m, 5m, 4m' %}<br>{% trans 'poom (1)' %}<br>{% trans 'A-tõke (1)' %}<br>{% trans 'kiik (1)' %}<br>{% trans 'laud (1)' %}<br>{% trans 'slaalom (1)' %}<br>{% trans 'KOKKU: 19 takistust' %}</p>';
        var fieldC = '<p><b>{% trans 'C-PLATS:' %}</b><br>{% trans 'Kuulekustrenni väliplats' %}<br>{% trans 'Võistluste telkimise ja pealtvaatajate ala' %}</p>';
    </script>
</head>

<body>
<div id="wrap">
    <header>
        <div id="nav">
            <a href="http://taas.ee/"><img class="logo" alt="Tartu Agility Arenguselts"
                                           src="{% static 'img/logo.jpg' %}"></a>

            <div id="navwrap">
                <div class="navsmall">
                    <form action="{% url 'set_language' %}" method="post" style="display: none"
                          id="change_language_form">{% csrf_token %}
                        <input type="hidden" value="" name="language" id="language"/>
                    </form>

                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <a href="#" id="{{ language.code }}" class="change_language"></a>
                    {% endfor %}
                </div>

                {% if not user.is_authenticated %}
                    <div id="user-nav">
                        <ul>
                            <li><a href="/user/login">{% trans 'Login' %}</a></li>
                            <li><a href="/user/register">{% trans 'Register' %}</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div id="user-nav">
                        <ul>
                            <li>{% trans 'Hello, ' %}<span id="name">{{ user.get_short_name }}</span></li>
                            <li>{{ user.display_budget_money }}</li>
                            <li><a href="/user/logout">{% trans 'Logout' %}</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        {% block tab-menu %} {% endblock tab-menu %}
    </header>

    <div id="innerwrap">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <script>
                            swal({
                                title: "Warning",
                                text: "{{ message }}",
                                type: "warning",
                                customClass: "alert-button"
                            });
                        </script>
                    {% else %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if user.is_authenticated %}
            <div id="timerMessage">{% trans 'To make all your reservations you have' %}
                <span id="timer"></span>
                {% trans 'minutes' %}
            </div>
            <script type="text/javascript">
                setExpireDate();
            </script>
        {% endif %}

        {% block content %}{% endblock content %}
    </div>
</div>
</body>
</html>