{% load i18n %}
{% csrf_token %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans 'Tartu Agility Playground' %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">

    {% block styles %}{% endblock styles %}

    <script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/countdown/jquery.countdown.js' %}"></script>

    {% block scripts %}{% endblock scripts %}

    {% ifequal request.path "/" %}
        <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
    {% endifequal %}
</head>

<body>
<div id="innerwrap">
    <div id="header">
        <div class="logo">
            <a href="http://taas.ee/"><img alt="Tartu Agility Arenguselts" src="{% static 'img/logo.jpg' %}"></a>
        </div>
        <div class="navsmall">
            <a href="https://www.facebook.com/pages/Tartu-Agility-Arenguselts/626675224051536?ref=hl&amp;bookmark_t=page">
                <img alt="Facebooki logo" src="{% static 'img/fblogo.png' %}"></a>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="/">{% trans 'back to booking' %}</a>
                </li>
            </ul>
        </div>
    </div>
    {% block nav %}
        {% if not user.is_authenticated %}
            <div class="user-nav">
                <ul>
                    <li><a href="/user/login">{% trans 'Login' %}</a></li>
                    <li><a href="/user/register">{% trans 'Register' %}</a></li>
                </ul>
            </div>
        {% else %}
            <div class="user-nav">
                <ul>
                    <li>{% trans 'Hello, ' %}<a href="/user/update">{{ user.get_short_name }}</a></li>
                    <li><a id="budget" href="/user/balance">{{ user.display_budget_money }}</a></li>
                    <li><a href="/user/logout">{% trans 'Logout' %}</a></li>
                </ul>
            </div>
        {% endif %}
    {% endblock nav %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <script>
                        swal({title: "Warning", text: "{{ message }}", type: "warning", customClass: "alert-button"});
                    </script>
                {% else %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% block tab-menu %}{% endblock tab-menu %}

    <div id="timerMessage">{% trans 'To make all your reservations you have' %}
        <span id="timer" ></span>
        {% trans 'minutes' %}
    </div>
    <script type="text/javascript">
        expireMessage = "{% trans 'Your reservation time has been expired.' %}";
        setExpireDate();
    </script>
</div>

{% block content %}{% endblock content %}
</body>
</html>