{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Budget payment' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock styles %}

{% block content %}
    <form class="form" method="post" action="{% url 'budget_payment' %}">{% csrf_token %}
        <h2>{% trans 'Confirmation' %}</h2>
        <p class="help-text">{% trans 'Please enter your password to complete the booking(s).' %}</p>
        <div class="fieldWrapper">
            {{ form }}
        </div>
        <input id="payButton" type="submit" value={% trans 'Pay' %}>
    </form>
{% endblock content %}