{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    {% trans 'History' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}"/>
{% endblock styles %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript">
        var removeMessage = "{% trans 'Do you really want to remove this reservation?' %}";
        var updateMessage = "{% trans 'Do you really want to modify this reservation?' %}";
        var title = "{% trans 'Are you sure?' %}";
        var cancelMessage = "{% trans 'Cancel' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/history.js' %}"></script>
{% endblock %}

{% block tab-menu %}
    <ul class="tab-menu">
        <li><a href="/user/update">{% trans 'Account' %}</a></li>
        <li class="selected"><a href="/reservation/history">{% trans 'History' %}</a></li>
    </ul>
{% endblock tab-menu %}

{% block content %}
    <div class="table_wrap">
        <form action="" method="get" class="sort_form">
            {{ form }}

            <input type="submit" value={% trans 'Submit' %}>
        </form>
        {% if table %}
            {% render_table table "table.html" %}
        {% else %}
            <p>{% trans 'There are no reservations in this month.' %}</p>
        {% endif %}
    </div>
{% endblock %}