{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltipster.css' %}">
    <link rel="stylesheet" href="{% static 'css/help.css' %}">

{% endblock styles %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltipster/jquery.tooltipster.min.js' %}"></script>
    {% if LANGUAGE_CODE == 'et' %}
        <script type="text/javascript" src="{% static 'js/datepicker-et.js' %}"></script>
    {% elif LANGUAGE_CODE == 'ru' %}
        <script type="text/javascript" src="{% static 'js/datepicker-ru.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/help.js' %}"></script>

    <script type="text/javascript">
        {% if user.is_authenticated %}
            canSelect = true;
            timeError = "{% trans 'Please select slots, which are 30 minutes later from now.' %}";
        {% else %}
            canSelect = false;
        {% endif %}
    </script>
{% endblock scripts %}

{% block tab-menu %}
    <ul class="tabrow">
        <li class="selected"><a href="/"><span>{% trans 'Booking' %}</span></a></li>
        {% if user.is_authenticated %}
            <li><a href="/reservation/history"><span>{% trans 'History' %}</span></a></li>
            <li><a href="/user/balance"><span>{% trans 'Balance' %}</span></a></li>
            <li><a href="/user/update"><span>{% trans 'Account' %}</span></a></li>
        {% endif %}
        <li><a href="/reservation/help"><span>{% trans 'FAQ' %}</span></a></li>
    </ul>
{% endblock tab-menu %}

{% block content %}
    <div class="indexwrap">
        <div id="calendarwrap">
            <div id="datepicker-color-wrap">
                <div id="datepicker"></div>
                <div id="colorbox-wrap">
                    <div id="anon" class="colorbox" style="background-color:#fe9000;"></div>
                    <div id="own" class="colorbox" style="background-color:#009800;"></div>
                    <div id="unpaid-own" class="colorbox" style="background-color:#b285e0;"></div>
                    <div id="unpaid-others" class="colorbox" style="background-color:#a9a9a9;"></div>
                </div>
            </div>
            <div id="calendar"></div>
        </div>
        {% if user.is_authenticated %}
            <form action="{% url 'reservation_list' %}">
                <input type="submit" class='button' id='submitBookings' value="{% trans 'Submit' %}">
            </form>
        {% endif %}
    </div>

    <script type="text/javascript">
        if (expireDate) {
            enableSubmition();
        }
    </script>
{% endblock content %}
