{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock styles %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar/fullcalendar.js' %}"></script>

    {% if LANGUAGE_CODE == 'et' %}
        <script type="text/javascript" src="{% static 'js/datepicker-et.js' %}"></script>
    {% elif LANGUAGE_CODE == 'ru' %}
        <script type="text/javascript" src="{% static 'js/datepicker-ru.js' %}"></script>
    {% endif %}
    <script type="text/javascript">
        {% if user.is_authenticated %}
            canSelect = true;
            timeError = "{% trans 'Please select slots, which are 30 minutes later from now.' %}";
            $(document).ready(function () {
                {% if is_unpaid %}
                    expire_date = "{{ expire_date }}";
                    checkDate();
                    enableSubmition();
                {% else %}
                    disableSubmition();
                {% endif %}
            });
        {% else %}
            canSelect = false;
        {% endif %}
        {% if LANGUAGE_CODE == 'et' %}
            $(document).ready(function () {
                $.datepicker.setDefaults($.datepicker.regional['et']);
            });
        {% elif LANGUAGE_CODE == 'ru' %}
            $(document).ready(function () {
                $.datepicker.setDefaults($.datepicker.regional['ru']);
            });
        {% endif %}
    </script>
{% endblock scripts %}

{% block content %}
    <div class="wrap">
        <div id="calendar"></div>
        <div id="datepicker"></div>
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'reservation_list' %}">
            <input type="submit" class='button' id='submit' value="{% trans 'Next' %}">
        </form>
    {% endif %}
{% endblock content %}
