{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock styles %}

{% block scripts %}
    <script src="{% static 'js/fullcalendar/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
    <script type="text/javascript">
        {% if user.is_authenticated %}
            canSelect = true;
        {% else %}
            canSelect = false;
        {% endif %}

    </script>
{% endblock scripts %}

{% block content %}
    <div class="calendarwrap">
        <div id="calendar"></div>
        <div id="datepicker"></div>
    </div>
    {% if user.is_authenticated %}
        <div class="buttonwrap">
            <a class="button" href="{% url 'reservation_list' %}">{% trans 'Next' %}</a>
        </div>
    {% endif %}
{% endblock content %}
