{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Payment' %}
{% endblock title %}

{% block content %}

    <form method="POST" class="form">{% csrf_token %}

        <h1>{% trans 'Pay for the reservations' %}</h1>

        {% for error in form.non_field_errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}

        <div class="fieldWrapper">
            <table>
                <tr>
                    <th>
                        {% trans 'Field' %}
                    </th>
                    <th>
                        {% trans 'Price' %}
                    </th>
                    <th>
                        {% trans 'Start' %}
                    </th>
                    <th>
                        {% trans 'End' %}
                    </th>
                </tr>
                {% for reservation in reservation_list %}
                    <tr>
                        <td>
                            {{ reservation.field.name }}
                        </td>
                        <td>
                            {{ reservation.price }}
                        </td>
                        <td>
                            {{ reservation.start }}
                        </td>
                        <td>
                            {{ reservation.end }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'reservation_list' %}?page={{ page_obj.previous_page_number }}">
                        {% trans 'previous' %}
                    </a>
                {% endif %}
                <span class="page-current">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'reservation_list' %}?page={{ page_obj.next_page_number }}">
                        {% trans 'next' %}
                    </a>
                {% endif %}
            </span>
                </div>
            {% endif %}
        </div>
    </form>

    <form action="{% url 'reservation_payment' %}">
        <input id="submit-button" type="submit" value="{% trans 'Budget' %}">
        <input id="submit-button" type="submit" value="{% trans 'Transcation' %}">
    </form>
{% endblock content %}