{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Payment' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock styles %}

{% block scripts %}
    <script src="{% static 'js/fullcalendar/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/jquery-ui.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $("#accordion").accordion({
                collapsible: true,
                active: false,
                heightStyle: "content"
            });
        });
    </script>
{% endblock scripts %}

{% block content %}

    <form method="POST" class="form">{% csrf_token %}

        <h1>{% trans 'Pay for the reservations' %}</h1>

        {% for error in form.non_field_errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}

        <div class="fieldWrapper">
            <table id="bookings">
                <tr>
                    <th>
                        {% trans 'Field' %}
                    </th>
                    <th>
                        {% trans 'Price' %}
                    </th>
                    <th>
                        {% trans 'Time' %}
                    </th>
                    <th>&#32;</th>
                </tr>
                {% for reservation in reservation_list %}
                    <tr>
                        <td>
                            {{ reservation.field.name }}
                        </td>
                        <td>
                            {{ reservation.field.price }}
                        </td>
                        <td>
                            {{ reservation.start }}
                        </td>
                        <td>
                            <img src="{% static 'img/clear.png' %}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="accordion">
            <h3>{% trans 'Account balance' %}</h3>
            <div>
                <input id="submit-button" type="submit" value={% trans 'Budget' %}>
            </div>
            <h3>{% trans 'Transaction' %}</h3>
            <div>
                <input class="banks" name="bank" type="radio" id="SEB" value="SEB" checked>
                <label for="SEB">{% trans 'SEB' %}</label> <br>
                <input class="banks" name="bank" type="radio" id="Swedbank" value="Swedbank">
                <label for="Swedbank">{% trans 'Swedbank' %}</label> <br>

                <input id="submit-button" type="submit" value={% trans 'Transcation' %}>
            </div>
        </div>
    </form>
{% endblock content %}