{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Privacy Policy' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/help.css' %}">
{% endblock styles %}

{% block tab-menu %}
    <ul class="tabrow">
        <li><a href="/"><span>{% trans 'Booking' %}</span></a></li>
        {% if user.is_authenticated %}
            <li><a href="/reservation/history"><span>{% trans 'History' %}</span></a></li>
            <li><a href="/user/balance"><span>{% trans 'Balance' %}</span></a></li>
            <li><a href="/user/update"><span>{% trans 'Account' %}</span></a></li>
        {% endif %}
        <li><a href="/reservation/help"><span>{% trans 'FAQ' %}</span></a></li>
    </ul>
{% endblock tab-menu %}

{% block content %}
    <div class="form">
        <h2>{% trans 'Privacy Policy' %}</h2>

        <div class="fieldWrapper">
            <p> {% blocktrans trimmed %}
                Tartu Agility Arenguselts on võtnud endale kohustuse kaitsta klientide ja kasutajate privaatsust.
                Sellest lähtuvalt oleme koostanud käesolevad privaatsuspoliitika põhimõtted, mis käsitlevad kliendi
                andmete kogumist, kasutamist, avaldamist, edastamist ja talletamist. Meie tegevus internetis on
                kooskõlas kõigi asjakohaste tegevuste ja vastavate Euroopa Liidu õigusaktide ja Eesti Vabariigi
                seadustega. Leia veidi aega ja tutvu meie privaatsuspõhimõtetega.
                <br><br>
                <b>Isikuandmete kogumine ja kasutamine</b>
                <br>
                Isikuandmed on andmed, mida Tartu Agility Arenguselts kogub üksikisikuga sõlmitud lepingu  täitmisel või
                temaga ühenduse võtmiseks.
                Püsikliendi isikuandmete kogumine võib toimuda alljärgnevatel viisidel:
                kontaktandmete esitamisel  meie veebisaidil
                (Tartu Agility Arenguselts palub veebilehe kasutajaks registreerimisel vabatahtlikult esitada
                isikuandmeid ja personaalset informatsiooni. Nõutavad isikuandmed sisaldavad nime, e-posti aadressi ja
                telefoninumbrit)
                <br><br>
                <b>Muude andmete kogumine</b>
                <br>
                Tartu Agility Arenguselts ei kogu Teie isikustamata andmeid – andmeid, mida ei saa otseselt ühe kindla
                isikuga siduda (sugu, vanus, keele eelistus, asukoht).
                <br><br>
                <b>Kogutud isikuandmete kasutamine</b>
                <br>
                Kogutud isikuandmeid kasutame teenuse pakkumisel ning kliendi ees võetud kohustuste täitmiseks.
                <br><br>
                <b>Kogutud isikuandmete muutmine</b>
                <br>
                Kliendi tuvastamiseks ja temaga kontakteerumiseks kogutud isikuandmeid on võimalik näha, muuta ja
                täiendada meie veebisaidil „KONTO“ alas.
                <br><br>
                E-maili (Tartu Agility Arenguselts veebisaidi kasutajatunnuse) muutumisel palume meid sellest teavitada,
                kuna seda ei ole kliendil endal võimalik muuta.
                <br><br>
                <b>Isikuandmete kaitse</b>
                <br>
                Tartu Agility Arenguselts rakendab kõiki ettevaatusabinõusid (sh administratiivsed, tehnilised ja
                füüsilised meetmed) kliendi isikuandmete kaitsmiseks. Juurdepääs andmete muutmiseks ja töötlemiseks on
                ainult selleks volitatud isikutel.
                <br><br>
                <b>Turvalisus</b>
                <br>
                Kõiki Tartu Agility Arenguselts broneerimissüsteemi kaudu teatavaks saanud kliendi isikuandmeid
                käsitletakse kui konfidentsiaalset infot. Krüpteeritud andmesidekanal pankadega tagab ostu sooritaja
                isikuandmete ja pangarekvisiitide turvalisuse.
                <br><br>
                <b>Privaatsuspoliitika tingimused ja muudatused</b>
                <br>
                Meie veebisaiti kasutama asudes oled käesolevate põhimõtete ja tingimustega tutvunud ning nendega
                nõustunud. Jätame endale õiguse vajadusel privaatsuspoliitika üldtingimusi muuta, teavitades sellest
                kõiki püsikliente.
                <br><br>
                Kõigi privaatsuspoliitika või andmetöötluse kohta tekkivate küsimuste või muredega palume võtta meiega
                ühendust aadressil agility.arenguselts@gmail.com
            {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock content %}