{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Payment' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock styles %}

{% block content %}

    <form method="POST" class="form">{% csrf_token %}

        <h1>{% trans 'Pay for the reservations' %}</h1>

        {% for error in form.non_field_errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}

        <div class="fieldWrapper">
            <table id="bookings">
                <tr>
                    <th>
                        {% trans 'Field' %}
                    </th>
                    <th>
                        {% trans 'Price' %}
                    </th>
                    <th>
                        {% trans 'Start' %}
                    </th>
                    <th>
                        {% trans 'End' %}
                    </th>
                    <th>&#32;</th>
                </tr>
                {% for reservation in reservation_list %}
                    <tr>
                        <td>
                            {{ reservation.field.name }}
                        </td>
                        <td>
                            {{ reservation.price }}
                        </td>
                        <td>
                            {{ reservation.start }}
                        </td>
                        <td>
                            {{ reservation.end }}
                        </td>
                        <td>
                            <img src="{% static 'img/clear.png' %}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'reservation_list' %}?page={{ page_obj.previous_page_number }}">
                        {% trans 'previous' %}
                    </a>
                {% endif %}
                <span class="page-current">
                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'reservation_list' %}?page={{ page_obj.next_page_number }}">
                        {% trans 'next' %}
                    </a>
                {% endif %}
            </span>
                </div>
            {% endif %}
        </div>
    </form>
    <p>{{ total_price }}</p>
    <form method="post" action="{% url 'budget_payment' %}">{% csrf_token %}
        <input id="submit-button" type="submit" value={% trans 'Budget' %}>
    </form>
    <form action="https://payment-test.maksekeskus.ee/pay/1/signed.html" method="post">
        <input name="json" type="hidden" value='{{ payment_json }}' />
        <input name="mac" type="hidden" value="{{ payment_mac }}" />
        <input id="submit-button" type="submit" value="{% trans 'Transaction' %}">
    </form>
{% endblock content %}