{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Login' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
{% endblock %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>
                {% blocktrans %}
                    Your account doesn't have access to this page.
                    To proceed, please login with an account that has access.
                {% endblocktrans %}
            </p>
        {% else %}
            <p>{% trans "Please login to see this page." %}</p>
        {% endif %}
    {% endif %}

    <form method="POST" class="login-form">{% csrf_token %}

        <h1>{% trans 'Login' %}</h1>

        {% if form.errors %}
            <p class="error-message">{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        <div class="fieldWrapper">
            <div {% if form.username.errors %}class="field-error"{% endif %}>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div {% if form.password.errors %}class="field-error"{% endif %}>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
        </div>

        <input type="submit" value={% trans "Login" %} />
        <input type="hidden" name={% trans "next" %} value="{{ next }}" />
    </form>

{% endblock %}