{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Login' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
{% endblock styles %}

{% block content %}

    {% if next %}
        {% if not user.is_authenticated %}
            <div class="error">
                <p class="error-message">{% trans "Please login to see this page." %}</p>
            </div>
        {% endif %}
    {% endif %}

    <form method="POST" class="login-form">{% csrf_token %}

        <h1>{% trans 'Login' %}</h1>

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="fieldWrapper">
            <div {% if form.username.errors %}class="field-error"{% endif %}>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div {% if form.password.errors %}class="field-error"{% endif %}>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
        </div>

        <input type="submit" value={% trans "Login" %} />
        <input type="hidden" name={% trans "next" %} value="{{ next }}" />
        <p id="reset-password"><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </form>

{% endblock %}