{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Terms and Conditions' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock styles %}

{% block tab-menu %}
    <ul class="tabrow">
        <li><a href="/"><span>{% trans 'Booking' %}</span></a></li>
        {% if user.is_authenticated %}
            <li class="selected"><a href="/reservation/history"><span>{% trans 'History' %}</span></a></li>
            <li><a href="/user/balance"><span>{% trans 'Balance' %}</span></a></li>
            <li><a href="/user/update"><span>{% trans 'Account' %}</span></a></li>
        {% endif %}
        <li><a href="/reservation/help"><span>{% trans 'FAQ' %}</span></a></li>
    </ul>
{% endblock tab-menu %}

{% block content %}
    <div class="form">
        {% blocktrans %}
            <h2>Terms of service</h2>
            <h3>The user of the ground agrees to:</h3>
            <div class="fieldWrapper">
                <ol>
                    <li>stay on the grounds only on the prearranged time and purpose.</li>
                    <li>use carefully the inventory of Tartu Agility Arenguselts.</li>
                    <li>inform immediately if there is missing or broken inventory.</li>
                    <li>park in the specified parking lot.</li>
                    <li>guarantee that his dog maintains cleanliness on the fields with fake grass, penalty 10
                        euros.
                    </li>
                    <li>clean after his dog in the area surrounded with the fence and
                        near it.
                    </li>
                    <li>ensure that his dog is not a threat to other dogs or
                        people.
                    </li>
                    <li>respect other users of the grounds.</li>
                    <li>lock all the gates and turn of the lights if he leaves as the last person.</li>
                    <li>follow signs on the surrounding fields and not walk
                        their dog there.
                    </li>
                    <li>inform immediately if the aforementioned rules are being broken or other
                        inadvisable behaviour on the grounds or
                        near it. <br>
                        <b>Prompt information:</b> phone <a href=\tel:+3725271414\>+372 527 1414</a> <br>
                        <b>Normal information:</b> e-mail <a href=\mailto:agility.arenguselts@gmail.com\>agility.arenguselts@gmail.com</a>
                    </li>
                </ol>
            </div>
            <h2>Terms and Conditions of Purchase along with guidance to make the reservations and manage the
                account</h2>
            <div class="fieldWrapper">
                <p>
                    <b>In order to make a reservation</b> choose a suitable date from the calendar and then select one
                    or more available time slots in the right table column (depending on which field(s) you want). The
                    start time of the slot you choose has to be at least 30 minutes from now. To deselect a slot click
                    on it once more. It is possible to book fields for multiple dates, just choose another date from the
                    calendar. <br>
                    When you have finished choosing, click "Next" to proceed to the payment page. Review your selections
                    and if needed you can remove time slots that you do not need. You can pay using your account balance
                    money (pre-added money) or pay through a bank link. <br>
                    You have 10 minutes to complete your reservation. When time is up, all your selections will be
                    removed. <br>
                    There are 3 different fields available for booking. You can see a description of each field by
                    hovering over the corresponding letter in the table header. <br>
                    There are 4 colours to distinguish between different types of reservations. Hover over a colour
                    below to see the description. <br>
                    Click on the "History" tab, you should see the table with all of your reservations. Reservations are
                    in descending order, i.e. upcoming reservations are on the top while older ones are below them. You
                    can sort the table by field, start or end time. To see reservations from the past or next month,
                    select the month above the table and click "Sort". <br>
                    You can change time or/and field of your reservation whenever you want but not 15 minutes before the
                    start of the reservation. That means if you have, for example, a reservation starting at 14:00, then
                    you can make changes until 13:45. Note that you can only choose a new time or/and field for the same
                    date as the reservation that you are trying to edit. You can remove a reservation 24 hours before
                    the day of the reservation. E.g. you have a reservation on 29th of November, then you can cancel it
                    until 23:59 on 28th November. The money will be added to your account's balance.
                </p>
                <p><b>In order to modify an upcoming reservation</b> click on the "History" tab, you should see the
                    table with all of your reservations. If you can edit a reservation (check Is it possible to modify
                    an upcoming reservation?), then there will be a pencil icon next to the reservation, click on it.
                    You should see an alert asking for confirmation. If you really want to change the reservation then
                    click "OK", otherwise decline by clicking "Cancel". You should see a table where a red slot
                    indicates the reservation you are trying to change. Drag it to another slot that suits you and is
                    free. Then click "Submit".</p>
                <p><b>In order to cancel an upcoming reservation</b> click on the "History" tab, you should see the
                    table with all of your reservations. If you can remove a reservation (check Is it possible to cancel
                    an upcoming reservation?), then there will be a cross icon next to the reservation, click on it. You
                    should see an alert asking for confirmation. If you really want to delete the reservation then click
                    "OK", otherwise decline by clicking "Cancel".</p>
                <p><b>In order to see and change the account information</b> click on the "Account" tab, you should see
                    the account modification page. You can update your name, phone number and password. If you want to
                    change your password, then click on the checkbox and fill in all the fields, otherwise leave
                    checkbox unchecked and just click "Update" to finish. You cannot leave name and phone number fields
                    empty. You cannot change your e-mail for security reasons. If you really need to change your e-mail,
                    then contact the administrator.</p>
                <p><b>In order to add money to the account balance</b> click on the "Balance" tab, you should see the
                    account balance page. Fill in the amount you wish to add to your account balance and click "Submit"
                    to proceed to pay.</p>
            </div>
        {% endblocktrans %}
    </div>
{% endblock content %}