{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Account balance' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock styles %}

{% block content %}
    <form method="post" class="form">{% csrf_token %}

        <h1>{% trans 'Account balance' %}</h1>

        <h3 id="show_budget">{% trans 'Your current account balance:' %} {{ user.display_budget_money }} </h3>
        <div class="section"><span>1</span>{% trans 'Select an amount to add' %}</div>
        {{ form }}

        <input id="submit-button" type="submit" value={% trans 'Submit' %}>
    </form>
{% endblock content %}