{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
{% endblock styles %}

{% block tab-menu %}
    {% if user.is_authenticated %}
        <ul class="tabrow">
            <li><a href="/"><span>{% trans 'Booking' %}</span></a></li>
            <li><a href="/reservation/history"><span>{% trans 'History' %}</span></a></li>
            <li><a href="/user/balance"><span>{% trans 'Balance' %}</span></a></li>
            <li class="selected"><a href="/user/update"><span>{% trans 'Account' %}</span></a></li>
            <li><a href="/reservation/help"><span>{% trans 'FAQ' %}</span></a></li>
        </ul>
    {% endif %}
{% endblock tab-menu %}

{% block content %}

    <form method="POST" class="deactivate-form">{% csrf_token %}
        <h2>{% trans 'Deactivate account' %}</h2>

        <p class="help-text">
            {% blocktrans %}
                In order to deactivate your account please enter your password.
                Note that you will not be able to login anymore.
            {% endblocktrans %}
        </p>

        <div class="fieldWrapper">
            {{ form.password.label_tag }}
            {% render_field form.password|add_error_class:"field-error" %}
            {% for err in form.password.errors %}
                <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}
        </div>
        <input id="submit-button" type="submit" value={% trans 'Deactivate' %}>
    </form>
{% endblock %}