{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Registration' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
{% endblock %}

{% block content %}
    <h1>{% trans 'Registration' %}</h1>
    <form method="POST" action="{% url 'user_registration_form' %}" class="register-form">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input id="submit-button" type="submit" value={% trans 'Enter' %}>
    </form>
{% endblock content %}
