{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    {% trans 'User modification' %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/user.js' %}"></script>
{% endblock scripts %}

{% block tab-menu %}
    {% if user.is_authenticated %}
        <ul class="tabrow">
            <li><a href="/"><span>{% trans 'Booking' %}</span></a></li>
            <li><a href="/reservation/history"><span>{% trans 'History' %}</span></a></li>
            <li><a href="/user/balance"><span>{% trans 'Balance' %}</span></a></li>
            <li class="selected"><a href="/user/update"><span>{% trans 'Account' %}</span></a></li>
            <li><a href="/reservation/help"><span>{% trans 'FAQ' %}</span></a></li>
        </ul>
    {% endif %}
{% endblock tab-menu %}

{% block content %}

    <form method="POST" class="form" id="updateForm">{% csrf_token %}

        <h2>{% trans 'Update account' %}</h2>

        {% for error in form.non_field_errors %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}

        <div class="fieldWrapper">
            {{ form.first_name.label_tag }}
            {% render_field form.first_name|add_error_class:"field-error" %}
            {% for err in form.first_name.errors %}
                <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}

            {{ form.last_name.label_tag }}
            {% render_field form.last_name|add_error_class:"field-error" %}
            {% for err in form.last_name.errors %}
                <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}

            {{ form.phone_number.label_tag }}
            {% render_field form.phone_number|add_error_class:"field-error" %}
            {% for err in form.phone_number.errors %}
                <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}

            {{ form.change_password.label_tag }}
            {% render_field form.change_password onclick="javascript:checkPasswords(this);" %}

            <div id="passwordChange">
                {{ form.old_password.label_tag }}
                {% render_field form.old_password|add_error_class:"field-error" %}
                {% for err in form.old_password.errors %}
                    <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}

                {{ form.new_password1.label_tag }}
                {% render_field form.new_password1|add_error_class:"field-error" %}
                {% for err in form.new_password1.errors %}
                    <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}

                {{ form.new_password2.label_tag }}
                {% render_field form.new_password2|add_error_class:"field-error" %}
                {% for err in form.new_password2.errors %}
                    <p class="error-message">{{ err|cut:"* " }}</p>{% endfor %}
            </div>
        </div>
        <input id="submit-button" type="submit" value={% trans 'Update' %}>
        <button id="deactivate-button" formaction="{% url 'user_deactivate_form' %}" type="submit">{% trans 'Deactivate' %}</button>
    </form>
    <!--<form action={% url 'user_deactivate_form' %}>{% csrf_token %}
        <input id="deactivate-button" type="submit" value={% trans 'Deactivate' %}>
    </form>-->
{% endblock content %}
